body {
  height: 2048px;
}

.box {
  width: 100px;
  height: 100px;
}

#box-1 {
  background-color: red;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
}

.container {
  position: relative;
  width: 500px;
  height: 500px;
  background-color: #333333;
}

#box-2 {
  background-color: yellow;
  position: absolute;
  top: 50px;
  left: 200px;
}

#box-3 {
  background-color: green;
  position: absolute;
  top: 250px;
  left: 200px;
}

#box-4 {
  position: fixed;
  background-color: blue;
}

#box-5 {
  position: sticky;
  top: 0;
  left: 0;
  background-color: orange;
}
